<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Congresspeople</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1>List of Brazilian congresspeople and their applicant IDs</h1>

      <p class="text-{% if chamber_of_deputies %}success{% else %}danger{% endif %}">
        Source: Chamber of Deputies
      </p>

      {% if congresspeople %}
      <table class="table">
        <thead>
          <tr>
            <th>Applicant ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for congressperson in congresspeople %}
          <tr>
            <td>{{ congressperson.applicant_id }}</td>
            <td>{{ congressperson.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Sorry, but the database is empty.</p>
      {% endif %}

    </div>
  </div>
</body>
</html>
